body {
    background-color: rgb(237, 177, 255);
    color:rgb(80, 24, 61);
    font-size: 18px;
    font-style: bold;
}

.logoescola {
    width: 30%;
}

.meio{
    justify-content: space-around;
    Display:flex;
}

.topico{
    margin-right: 10cm;
    
}